@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.app-container {
    font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
}

.auth-container, .todo-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-container form {
    display: flex;
    flex-direction: column;
}

.auth-container input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

.auth-container button {
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.todo-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.todo-container th, .todo-container td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.todo-container button {
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.todo-container button:last-child {
    background-color: #28a745;
}

button[disabled] {
    background-color: #d3d3d3;
    cursor: not-allowed;
}
